<div class="container">
    <a [routerLink]="['/create-appointment']" routerLinkActive="router-link-active" class="btn btn-info mb-1">Randevu Oluştur</a>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Doktor Adı</th>
                <th scope="col">Hasta Adı</th>
                <th scope="col">Tarih</th>

            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let appointment of appointments; let i = index">
                <td>{{appointment.doctorName}} </td>
                <td>{{appointment.patientName}} </td>
                <td>{{appointment.appoinmentDate | date:"short"}} </td>

                <td>
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <a class="btn btn-info" routerLink="/create-appointment/{{appointment.id}}">Düzenle </a> &nbsp;
                        <button (click)="deleteAppointment(i)" type="button" class="btn btn-danger">Sil</button>

                    </div>
                </td>
            </tr>

        </tbody>
    </table>
</div>