<div class="container mt-5">

    <div class="row">
        <div class="col-md-12 mb-5">
            <h1 class="text-center text-secondary">Hastane Yönetim Paneli</h1>
        </div>
        <div class="col-md-4">
            <div class="card d-flex align-items-center">

                <div class="card-body ">
                    <div class="ml-4"> <img src="https://www.freeiconspng.com/uploads/medical-doctor-male-icon-png-26.png" width="100px" /></div>
                    <h5 class="card-title mt-1 ml-4">Doktorlar</h5>
                    <a class="btn btn-danger" routerLink="/doctors">Doktorları
                        Görüntüle</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card d-flex align-items-center">
                <div class="card-body">
                    <div class="ml-4"> <img src="https://www.freeiconspng.com/uploads/medical-patient-icon-15.jpg" width="100px" /></div>
                    <h5 class="card-title  mt-1 ml-4">Hastalar</h5>

                    <a class="btn btn-danger" routerLink="/patients">Hastaları
                        Görüntüle</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card d-flex align-items-center">
                <div class="card-body">
                    <div class="ml-4"> <img src="https://icon-library.net//images/make-appointment-icon/make-appointment-icon-9.jpg" width="100" /></div>
                    <h5 class="card-title  mt-1 ml-4">Randevular</h5>
                    <a class="btn btn-danger" routerLink="/appointments">Randevuları
                        Görüntüle</a>
                </div>
            </div>
        </div>
    </div>
</div>